html, body {
  background: #222;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  flex: 0 1 auto;
  box-shadow: 2px 3px 20px rgba(0,0,0,.2);
  background: red;
}
